/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

a.main {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main img {
  max-width: 100%;
  max-height: 95%;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 0px;
}

.rate img {
  height: 30px;
}

.range {
  text-decoration: none;
  padding: 2px 5px;
  background: yellow;
  border-radius: 100%;
  color: red;
}
