%div{ style: "display: flex; width: 100%; flex-wrap: wrap;" }
  - @images.each do |image|
    %div{ style: "display: flex; flex-direction: column; width: #{100 / @per_row}%; text-align: center" }
      %strong= image.id
      = image_tag image.path.split("/").last, style: "max-width: 100%; max-height: 90vh"